<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <link href="{% static 'css/carrier_sample_id_card_upload_form.css' %}" rel='stylesheet' type='text/css'>
</head>

<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="/v2/carrier_sample_id_card_manager/" method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
</body>
</html>