<!--
This template is used by by the member_list view.
It loads the CSS from directly from our server.
 -->



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
      <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <title>Member List</title>
            <link rel="stylesheet" type="text/css" href="/static/css/main.css" media="all" />
      </head>
      <body class="oneColElsCtr">
            <div class="container assesstable">
                  <b>Member List<br/><hr/></b>
                  <h1>Current List of Members</h1></br>
                  {% if member_list %}
                        <table border="1" class = 'center'>
                              <tr>
                              <td> <b>Name</b> </td>
                              <td> <b>Address</b> </td>
                              <td> <b>Email</b> </td>
                              <td> <b>Phone Number</b> </td>
                              </tr>
                              {% for member in member_list %}
                        
                                    <tr>
                                    <td> <b>{{ member.user.first_name }} {{ member.user.last_name }}</b> </td>
                                    <td> <b>{{ member.address }}</b> </td>
                                    <td> <b>{{ member.user.email }}</b> </td>
                                    <td> <b>{{ member.phone_number }}</b> </td>
                                    </tr>
                              {% endfor %}
                        </table>
                        </br>
                  {% else %}
                        No Members
                  {% endif %}
            </div>
      </body>
</html>