body {
    font-family: Helvetica, sans-serif;
	color: #000000;
	text-align: center;
	background-color: #FFFFFF;
	font-size:100%; /* Firefox, Chrome, and Safari all can resize text using pixels, but not IE. Use this and em to allow resize in all browsers */
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
    padding: 0;
}

.container .assesstable {
	margin-top: 0.5em;
	position:relative;
	color:#000000;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
  }

