<!--
This template is used by the assessment page.
It loads the CSS from directly from our server.
 -->


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
      <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <title>Health Risk Assessment Score</title>
            <link rel="stylesheet" type="text/css" href="/static/css/main.css" media="all" />
      </head>
      <body class="oneColElsCtr">
            <div class="container assesstable">
                  <b>Health Risk Assessment Score<br/><hr/></b>
                  {% if score %}
                        <h1>Your Assesment Score</h1>
                        <br/><br/><p> Your health risk is {{ score }}/100. The average score is 50/100</p>
                  {% endif %}
            </div>
      </body>
</html>