<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
      <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <title>Registration</title>
            <link rel="stylesheet" type="text/css" href="/static/css/main.css" media="all" />
      </head>
      <body class="oneColElsCtr">
            <div class="container assesstable">
                  <b>Registration<br/><hr/></b>
                  {% if form %}
                        <h1>Register an Account with us</h1>
                        {% if form.errors %}
                              <p style="color: red;">
                                    {% for error in form.errors %}
                                          <li><strong>{{ error|escape }}</strong></li>
                                    {% endfor %}
                                    <br/>{{ form.error_messages }}<br/>
                                    Please complete all fields{{ form.errors|pluralize }} below.
                              </p><br/>
                        {% endif %}
                        <form name='registration' action='' method=post>
                              <table border="1" class = 'center'>
                                    <tr>
                                    <td> <b>{{ form.username.label }}</b> </td>
                                    <td>{{ form.username }}</td>
                                    </tr>

                                    <tr>
                                    <td> <b>{{ form.first_name.label }}</b> </td>
                                    <td>{{ form.first_name }}</td>
                                    </tr>

                                    <tr>
                                    <td> <b>{{ form.last_name.label }}</b> </td>
                                    <td>{{ form.last_name }}</td>
                                    </tr>

                                    <tr>
                                    <td> <b>{{ form.address.label }}</b> </td>
                                    <td>{{ form.address }}</td>
                                    </tr>

                                    <tr>
                                    <td> <b>{{ form.phone_number.label }}</b> </td>
                                    <td>{{ form.phone_number }}</td>
                                    </tr>

                                    <tr>
                                    <td> <b>{{ form.email.label }}</b> </td>
                                    <td>{{ form.email }}</td>
                                    </tr>

                                     <tr>
                                    <td> <b>{{ form.password1.label }}</b> </td>
                                    <td>{{ form.password1 }}</td>
                                    </tr>

                                     <tr>
                                    <td> <b>{{ form.password2.label }}</b> </td>
                                    <td>{{ form.password2 }}</td>
                                    </tr>


                              </table>
                              <br/>
                              <br/><br/><hr/>
                              {% csrf_token %}
                              <button type=submit>Register!</button>
                        </form>
                  {% endif %}
            </div>
      </body>
</html>